<h1>
	Definir una variable y mostrar el contenido en PHP	
</h1>
Definir variables nos es util en todo el codigo que hagamos en php, por que las variables son la principal herramienta para administrar informacion y datos de nuestra aplicacion web a realizar.
Para definir variables creamos nuestra variable sin definir ningun tipo solo creamos la variable antecediendo a la misma el signo $ y luego el nombre de variable ademas de un signo igual con algun valor a asignar a la variable y una coma final o en todo caso se crea la variable con el signo $ , nombre de variable y coma final, veamos ejemplos:
<span lang="php">
$variable1="hola mundo"; //cadenas largas
$variable2='hola mundo'; //cadenas cortas
$variable3="6646564"; //numero en cadenas
$variable4=34645; //numero entero simple
$variable5=57356.5645; //numero decimal simple
$variable6=null; //nulo
</span>
Seguidamente mostrar una variable en la salida textual solo requiere el uso de la funcion echo, se hace uso de la funcion de la siguiente forma: 
<span lang="php">
echo $variable1."&lt;br&gt;";
echo $variable2."&lt;br&gt;";
echo $variable3."&lt;br&gt;";
echo $variable4."&lt;br&gt;";
echo $variable5."&lt;br&gt;";
echo $variable6."&lt;br&gt;";
</span>