<h1>
	Definir una constante en PHP
</h1>
Definir constantes nos es util para poder resusar su contenido en diferentes instancias de ejecucion del codigo php.
La definicion de constantes se hace mediante el uso de la funcion define, sun sintaxis es la siguiente:
<span lang="php"> 
	define(__NOMBRE_CONSTANTE_,_VALOR_DE_CONSTANTE_);
</span>
A continuacion unas cuantas variables constantes creadas con define:
<span lang="php">
define("PATH","./"); 	// definiendo ruta al directorio actual
define("PI",3.141592); 	// definiendo una constante numerica
define("FLAG",TRUE); 	//definiendo  un flag 
define("BR","&lt;br&gt;"); 	//definiendo  un salto de linea html
</span>
Para hacer uso de las constantes solo se usan en funcion de los nombres de las constantes de la siguiente forma:
<span lang="php">
echo PATH.BR;
echo PI.BR;
echo FLAG.BR;
</span>