<h1>
	Poner comentarios en PHP
</h1>
Los comentarios en php como en todo lenguaje de progranacion son bastante utiles para escribir detalles de implementacion de nuestro de codigo ademas de otras referencias necesarias para entender el codigo escrito por nosostros.
La forma mas natural de escritura de comentarios en php tiene dos formas basicas, comentarios largos o comentarios cortos.
Para escribir comentarios largos se hace uso de /* para iniciar la escritura y */ para finalizar la escritura del comentario de la siguiente manera:
<span lang="php">
/*
->>Este es un comentario largo 
->>Aqui describimos que se hace una resta de solo valores enteros contenidos en las variables
->>que se ha declarado a continuacion
*/
$i="46875jkfhsh";
$j="5743";
</span>
Para escribir comentarios cortos se hace uso de // y a continuacion se escribe el comentario todo en una sola linea hasta el salto de linea de la siguiente manera:
<span lang="php">
//aqui se pone un comentario de una sola linea
$i=intval(trim($i));//obtener parte entera de $i
$j=intval(trim($j));//obtener parte entera de $j
echo "Resta ... ";
echo $i-$j;///mostrando en pantalla el resultado de restar ...
echo "&lt;br&gt;";
</span>
Los comentarios tienen como finalidad basica la documentacion de nuestro codigo es una buena practica de programacion y detallar bien el uso de nuestro codigo.